.about-box {
  max-width: 100rem;
  margin: 0 auto;
}

.about-circular {
  position: absolute;
  top: -8.5rem;
  left: 3rem;
  z-index: 100;
}

.ui.card>.image.about-circular, .ui.cards>.card>.image.about-circular {
  background: transparent;
  border: none;
}

.ui.card{
  width: 100%;
  min-height: 60rem;
  border: 1px solid #ddc692;
  border-radius: 1px;
  box-shadow: 5px 4px 6px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  position: relative;
}

.about-box .ui.card>.content{
  position: absolute;
  top: 35rem;
  left: 15rem;
  padding: 1rem 6rem;
  border-top: none;
}

i.icon.back-btn, i.icons.back-btn {
  font-size: 2rem;
  float: left;
}

i.icon.back-btn::before, i.icons.back-btn::before {
  font-size: 3rem;
  float: left;
}

a:link,
a:visited {
  color: #dfb961; 
}

a:active,
a:hover {
  color: #665836; 
}

@media screen and (max-width: 56.5em) {
  .about-box .ui.card>.content{
    padding: 1rem 3rem 1rem 8rem;
    position: absolute;
    top: 35rem;
    left: 15rem;
  }

  .ui.card>.image.about-circular, .ui.cards>.card>.image.about-circular {
    position: absolute;
    top: 23rem;
    left: 3rem;
  }
}

@media screen and (max-width: 37.5em) {
  .about-box .ui.card>.content{
    padding: 1rem 5rem;
    position: absolute;
    top: 25rem;
    left: 3rem;
  }

  .ui.card>.image.about-circular, .ui.cards>.card>.image.about-circular {
    width: 12em;
    height: 12em;
    position: absolute;
    top: 10rem;
    left: 3rem;
  }
}