.albums-box {
  max-width: 100rem;
  margin: 0 auto;
  padding: 2rem;
  border: 1px solid #ddc692;
  box-shadow: 5px 4px 6px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

.albums-box .ui.card>.content, 
.ui.cards>.card>.content,
.albums-box.ui.cards>.card>.extra,
img.ui.image
 {
  border: 1px solid #ddc692;
 }


 .ui.card, .ui.cards>.card {
  box-shadow: 3px 2px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;

 }

 