html {
  font-size: 62.5%; /* 1rem = 10px */
  font-family: 'Lato', sans-serif;
 }

body {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  margin: 0 auto;
}

.App {
  text-align: center;
}

.App-logo {
  height: 25rem;  
  text-align: center;
  display: block;
  margin: 0 auto;
}

.ui.input>input {
  border-radius: 2px;
  border: 2px solid #e2c175;
  display: block;
  padding: 1.2rem 5rem; 
}

.ui.input.focus>input, .ui.input>input:focus {
  border: 2px solid #e2c175;
}

.ui.input>input::placeholder {
  text-align: center;
}


.ui.button, .ui.buttons .button, .ui.buttons .or {
  background-color: #e2c175;
  border-radius: 2px;
  display: block;
  font-size: 1.2rem;
  font-weight: 700;
  margin: 1.5rem auto;
  padding: 1.2rem 3rem;
  text-transform: uppercase;
}

.ui.button:hover {
  background-image: none;
  background-color: #e9bd55;
  font-weight: 700;
  border-radius: 2px;
}

.App-header {
  background-color: #1b1e23;
  padding: 3rem 0 5rem 0;
  color: white;
}

.App-heading {
  font-size: 3rem;
  text-transform: uppercase;
  padding-top: 5rem;
}

.App-box {
  background-color: #ffffff;
  padding: 50rem auto 70rem;
  font-size: inherit;  
  position: relative;
}

.App-input__popup:hover {
  transition: all .2s;
}

.App-box__details {
  max-width: 100rem;
  margin: 0 auto;
  padding: 5rem 0;
}

.App-footer {
  background-color: #222222;
  padding: 5rem 0 5rem 0;
  font-size: 1.3rem;
  color: #e2c175;  
}

.App-footer__icons {
  display: flex;
  justify-content: center;
}

.icons__img {
  width: 15rem;
  height: 15rem;
  transition: all .2s;
}

.icons__img:hover {
  transform: scale(1.2);
}


/* Media Queries

0-600px:      Phone
600-900px:    Tablet Portrait
900-1200px:   Tablet Landscape
1200-1800px:  [is where normal styles apply]
1800px +  :   Big Desktop 
*/

/* @media screen and (max-width: 56.25em) {
  .App-logo {
    height: 20%;
    width: 20%;  
    display: block;
    margin: 0 auto;
  }
} */

  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; }
  }

  @media screen and (max-width: 56.25em) {
    .ui.card>.content>.header:not(.ui), .ui.cards>.card>.content>.header:not(.ui) {
      font-size: 1em; } 

      .icons__img {
        width: 10rem;
        height: 10rem; } }

  @media screen and (max-width: 37.5em) {
    .ui.card>.content>.header:not(.ui), .ui.cards>.card>.content>.header:not(.ui) {
      font-size: .8em; }

      .ui.card>.extra a:not(.ui), .ui.cards>.card>.extra a:not(.ui) {
        font-size: .8em; } 
      }




