html {
  font-size: 62.5%; /* 1rem = 10px */
  font-family: 'Lato', sans-serif;
}

body {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.App {
  text-align: center;
}

.App-logo {
  height: 220px;
}

.App-header {
  background-color: #1b1e23;
  padding: 3rem 0 10rem 0;
  color: white;
}

.App-heading {
  font-size: 3rem;
  text-transform: uppercase;
}

.App-box {
  background-color: #ffffff;
  height: 30rem;
  padding: 5rem 0 50rem 0;
  font-size: 4rem;  
  color: #000000;
}

.App-footer {
  background-color: #222222;
  padding: 15rem 0 3rem 0;
  font-size: 1.3rem;
  color: #ddc692;  
}