html {
  font-size: 62.5%; /* 1rem = 10px */
  font-family: 'Lato', sans-serif;
}

body {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.App {
  text-align: center;
}

.App-logo {
  height: 220px;
  display: block;
  margin: 0 auto;
}

.ui.input>input {
  border-radius: 2px;
  border: 2px solid #e2c175;
  display: block;
  padding: 1.2rem 3rem; 
}

.ui.input.focus>input, .ui.input>input:focus {
  border: 2px solid #e2c175;
}

.ui.input>input::placeholder {
  text-align: center;
}


.ui.button, .ui.buttons .button, .ui.buttons .or {
  background-color: #ddc692;
  border-radius: 2px;
  display: block;
  font-size: 1rem;
  font-weight: 700;
  margin: 1.5rem auto;
  padding: 1.2rem 2.5rem;
  text-transform: uppercase;
}

.ui.button:hover {
  background-image: none;
  background-color: #e2c175;
  border-radius: 2px;
}

.App-header {
  background-color: #1b1e23;
  padding: 3rem 0 5rem 0;
  color: white;
}

.App-heading {
  font-size: 3rem;
  text-transform: uppercase;
  padding-top: 5rem;
}

.App-box {
  background-color: #ffffff;
  padding: 50rem auto 70rem;
  font-size: inherit;  
  position: relative;
}

.App-box__details {
  max-width: 80rem;
  margin: 0 auto;
  padding: 5rem 0;
}

.App-footer {
  background-color: #222222;
  padding: 15rem 0 3rem 0;
  font-size: 1.3rem;
  color: #ddc692;  
}