.photos-box {
  max-width: 120rem;
  margin: 0 auto;
  padding: 2rem;
  border: 1px solid #ddc692;
  -webkit-box-shadow: 0 .5rem 2rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 .5rem 2rem rgba(0, 0, 0, 0.15);
}

.back-btn {
  font-size: 2rem;
  display: block;
  text-align: left;
  padding-bottom: 1rem;
  padding-left: 2rem;
}

@media only screen and (max-width: 75em) {
  .back-btn { padding-left: 2rem; } }

@media only screen and (max-width: 56.25em) {
  .back-btn { padding-left: 2rem; } }
  