html {
  font-size: 62.5%; /* 1rem = 10px */
  font-family: 'Lato', sans-serif;
}

body {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 220px;
}

.App-header {
  background-color: #222;
  height: 30rem;
  padding: 5rem;
  color: white;
}

.App-title {
  font-size: 1.5rem;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
